@background: #000;
@color: #FFF;

body {
  font-family: 'Inconsolata', sans-serif;
  background-color: @background;
  color: @color;
}

.cell {
  float: left;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;

  width: 20px;
  height: 20px;

  font-size: 16px;
  text-align: center;
  vertical-align: middle;
}

.map {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.status {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 20px;
  z-index: 1;

  background: @background;
}

.status > .left {
  padding-left: 1em;
  float: left;
}

.status > .right {
  padding-right: 1em;
  float: right;
}

.message {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5em;
  margin-left: -15em;
  padding-bottom: .5em;
  min-height: 5em;
  width: 30em;
  z-index: 1;

  background: @background;

  border-style: inset;
  border-width: 5px;
  border-color: @color;

  padding-top: 1em;
  padding-right: 1em;
  padding-left: 1em;
}

.message > .continue {
  width: 30em;
  text-align: center;
  float: left;
  margin-top: 2em;
  color: #a8a8a8;
}

.message > .slide {
  float: left;
  width: 100%;
  text-align: center;
}

.message > .slide > .left {
  width: 12.5em;
  text-align: right;
  float: left;
}

.message > .slide > .right {
  width: 12.5em;
  text-align: left;
  float: right;
}

.message > .slide > .full {
  width: 30em;
  text-align: center;
  float: left;
}

.message > .slide > .header {
  width: 30em;
  text-align: center;
  float: left;
  margin-bottom: 1em;
}

.hidden {
  display: none;
}
